@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

th {
    background-color: #0054ef;
}