{% extends 'base.html.twig' %}

{% block title %}Modifier l'équipe{% endblock %}

{% block body %}
    <h1>Modifier l'équipe</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
    {{ form_end(form) }}

    <a href="{{ path('team_list') }}" class="btn btn-secondary mt-3">Retour à la liste des équipes</a>
{% endblock %}
