{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer une nouvelle équipe</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Créer</button>
    {{ form_end(form) }}
{% endblock %}
